<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <% if Rails.env.test? || Rails.env.development? %>
      <%= include_access_lint %>
    <% end %>
  </body>
</html>
